.FooterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0px;
  border-top: 1px solid rgb(25, 25, 25);
  width: 100%;
  position: relative;
  z-index: 100;

  @media (max-width: 768px) {
    padding: 20px 20px;
    padding-bottom: 30px;
  }
}

.FooterLinkContainer {
  width: 500px;

  @media (max-width: 768px) {
    width: 100%;
  }
}
.FooterLinkTitle{
  color: gray;
  font-size: 17px;
}
.FooterLinkContent{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 35px;

  @media (max-width: 768px) {
    margin-top: 26px;
  }
}
.FooterLink {
  color: gray;
  font-size: 14px;
  width: 110px;
  margin-bottom: 21px;

  &:hover {
    text-decoration: underline;
  }

  @media (max-width: 768px) {
    font-size: 14px;
    margin-bottom: 16px;
  }
}
.FooterDescContainer{
  margin-top: 30px;

  @media (max-width: 768px) {
    margin-top: 20px;
  }
}
.FooterDescRights{
  color: white;
  font-size: 14px;
  text-align: center;
}